---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import ExperienceSection from "@/components/ExperienceSection";
import SkillsSection from "@/components/SkillsSection";
import ProjectsSection from "@/components/ProjectsSection";
import AwardsSection from "@/components/AwardsSection";
import EducationSection from "@/components/EducationSection";
import Footer from "@/components/Footer";
import HelloThereSVG from "@/components/svg/helloThere";
import ProjectGrid from "@/components/ProjectGrid";
import { projects } from "@/data/projects";
import { ArrowUpRight } from "lucide-react";
---

<Layout title="Ahmed Ben Khalifa - Designer" description="Ahmed Ben Khalifa - Designer">
  
  <main class="min-h-screen container max-w-5xl mx-auto mt-8">
    <div class="flex flex-col gap-5">
    <div class="mx-auto">
        <HelloThereSVG client:only="react"/>
    </div>
    <h1 class="text-6xl uppercase font-light text-center text-foreground mt-12 max-w-4xl mx-auto">
      Im <span class="text-chart-3">Ahmed</span>, a multidisciplinary des igner that focuses on branding
    </h1>
    <h2 class="text-2xl font-light mt-16 mx-auto border-t border-chart-2 w-fit pt-4">Ahmed Ben Khalifa</h2>
    </div>
    <div class="mt-8">
      <div class="flex justify-between border-b border-chart-2 py-7 text-xl uppercase">
        <span>Selected work</span> <ArrowUpRight size={36} strokeWidth={1} className="ms-2" />
      </div>
      <ProjectGrid projects={projects} />
    </div>
    
  </main>
  
</Layout>
